<form (ngSubmit)="showProduct()" [formGroup]="productForm" novalidate>
  <mat-form-field [hideRequiredMarker]="true">
    <input type="text" matInput formControlName="productName" [placeholder]="'Name' | translate" required />
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <input
      type="text"
      matInput
      formControlName="productDescription"
      [placeholder]="'Description' | translate"
      required
    />
  </mat-form-field>

  <p>
    <span>"{{ pName }}" is the <i>interpolated</i> title.</span>
  </p>
  <p>
    <span>"{{ pDesc }}" is the <i>interpolated</i> title.</span>
  </p>

  <button mat-raised-button color="primary" type="submit">
    <span>Submit!</span>
  </button>
</form>
